<!DOCTYPE html>
<html>
<head>
  <title>SurfProtractor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to Surf Protractor</h1>
  <h5>Ride the Protractor Wave</h5>
<%= yield %>

</body>
</html>
